<!DOCTYPE html>
<html lang="en">
<head>

     <title>Shubham Bakers</title>


     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{url_for('static', filename='shubham-style.css')}}">

</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    
    <img style="margin-top: 65px; margin-right: 10px; border-radius: 50%;" src="static/cake-top-view2.jpg" align="right" width="350" height="350">
    <!-- MENU BAR -->
    <nav id="nav-bar">     
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/attendees">Attendees</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>




    <!-- cake-making -->
    <section class="" id="home">
    <div>
        <div class="header-block">
            <div id="subtext-heading">
                Learn and eat with Shubham.!
            </div>
            <div id="text-heading">
                <h1>5 Day baking workshop</h1>
            </div>
        </div>
    </div>
    <div class="buttons-home-page">


        <a href="/register" class="button_slide slide_right">Get Started</a>
        <a href="/about" class="button_slide slide_right">Learn More</a>
        
        
    </div>
    <!-- <img id="main-image" src="/images/bakery-image.jpg" alt="Italian Trulli"> -->

    </section>

    <div class="container">
        <div >
            <div class="list-of-particulars list-1" >
                <p><span data-preserver-spaces="true">✔️ 6 Different style of cakes in five days</span></p>
                <p><span data-preserver-spaces="true">✔️ How to choose the right ingredients</span></p>
                <p><span data-preserver-spaces="true">✔️ How to make delicious and spongy cakes using a cooker</span></p>
                <p><span data-preserver-spaces="true">✔️ How to store the chocolates for extended shelf life</span></p>
                <p><span data-preserver-spaces="true">✔️ Learn how to start a small home-based baking business</span></p>
                <p>&nbsp;</p>
            </div>
            <div class="list-of-particulars list-2" >
                <p><span data-preserver-spaces="true">Hi, 👋 I'm Shubham, an engineer by profession and a home baker by passion.</span></p>
                <p><span data-preserver-spaces="true">✔ I am a home baker and a homemade chocolate lover.</span></p>
                <p><span data-preserver-spaces="true">✔ I have been baking and into homemade 🍫 chocolates over 4 years.</span></p>
                <p><span data-preserver-spaces="true">✔ I bake cupcakes🧁 pastries 🍰 birthday cakes🎂 doughnuts🍩.</span></p>
                <p>&nbsp;</p>
            </div>
            <div class="list-of-particulars list-3" >
                <p><strong>What will you learn in this 5-day workshop:</strong></p>
                <p>&nbsp;</p>
                <p><span data-preserver-spaces="true">☑️ DAY 1 VANILLA SPONGE AND CHOCOLATE SPONGE</span></p>
                <p>&nbsp;</p>
                <p><span data-preserver-spaces="true">☑️ DAY 2 RED VELVET CUPCAKES TEA TIME CAKES</span></p>
                <p>&nbsp;</p>
                <p><span data-preserver-spaces="true">☑️ DAY 3 DATES AND WALNUT CAKE</span></p>
                <p>&nbsp;</p>
                <p><span data-preserver-spaces="true">☑️ DAY 4 PARSI MAVA CAKE WITH NUTS</span></p>
                <p>&nbsp;</p>
                <p><span data-preserver-spaces="true">☑️ DAY 5 CHOCO BANANA CAKE</span></p>
                <p>&nbsp;</p>
            </div>

                <p><h2><span data-preserver-spaces="true">If this is convincing enough And if you would like to learn 
                    more about the nitty-gritty of homemade chocolates.<br> 👉 Then join my upcoming "5 Day Baking Workshop"!</span></p>
                </h2><p>&nbsp;</p>
                <p>&nbsp;</p>
                
                <a href="/register" class="button_slide slide_right bottom-page-button">Get Started</a>
            </div>
            
        </div>
    </div>
 

     <!-- SCRIPTS -->
     <!-- <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/smoothscroll.js"></script> -->
     <script src="js/custom.js"></script>

</body>
</html>